header {
	min-height: 550px;
	width:100%;
	// background-color: @secondary;
	margin:0px;
	// margin-top:30px;
	position: relative;

	.slides {
		width: 100%;
		height: 100%;
		position:absolute;
		top:0;
		left:0;
		background-color: black;

		.slide {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top;
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			right:0;
			left:0;
			z-index: 0;
			opacity: 0;
			text-align: center;
			transition-timing-function: ease-in-out;

			&.active {
				z-index: 2;
				opacity: 1;
			}

			&.queued-fade {
				opacity: 0;
			} 

			&.transition-fade {
				opacity: 0;
			}

			&#header-slide01 {
				background-image: url("@{imagePath}/header_bg_mobile.jpg");
			}
			&#header-slide02 {
				background-image: url("@{imagePath}/header_slide02_mobile.jpg");
			}
			// &#header-slide03 {
			// 	background-image: url("@{imagePath}/header_slide03_mobile.jpg");
			// }
			&#header-slide04 {
				background-image: url("@{imagePath}/header_slide04_mobile.jpg");
			}
		}
	}

	nav{
		width:100%;
		height: 70px;
		position: absolute;
		text-align: center;
		z-index: 8;
		padding-top: 8px;
		background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
		a{
			display: inline-block;
			color: white;
			font-family: @navFont;
			font-size: 12pt;
			font-weight: 800;
			text-transform: uppercase;
			padding: 5px 35px;
			transition: color .5s ease-in-out;

			&:hover, &:focus, &:active {
				text-decoration: none;
				color:saturate(lighten(@primary, 10%), 10%);
				outline: none;
			}

			&:focus, &:active {
				color: white;
			}
		}
	}

	#header-brand {
		z-index:3;
		position: absolute;
		bottom:0;
		width: 100%;
		height:75%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
		display:flex;
		justify-content:center;

		.brand-logo {
			position: absolute;
			bottom: 75px;

			img{
				float: left;
				height:auto;
				width:150px;
				display: block;
			}

			a {
				color: white;
				width:100%;
				padding-left:160px;
				font-size: 35pt;
				line-height: 40px;
				display: block;
				font-family: @brandFont;
				text-transform: uppercase;

				.subheader {
					font-size: 20pt;
					position: relative;
					top: -8px;
					border-top: 2px solid white;
				}

				&:hover {
					text-decoration: none;
				}	
			}
		}
			
	}	
}

@media(min-width:768px) {
	header {
		min-height:700px;

		.slides {
			.slide {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top;
			}
		}
		
		.slides>.slide#header-slide01 {
			background-image: url("@{imagePath}/header_bg_v01.jpg");
		}
		.slides>.slide#header-slide02 {
			background-image: url("@{imagePath}/header_slide02.jpg");
		}
		.slides>.slide#header-slide03 {
			background-image: url("@{imagePath}/header_slide03.jpg");
		}
		.slides>.slide#header-slide04 {
			background-image: url("@{imagePath}/header_slide04.jpg");
		}



		#header-brand {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
			display: initial;
			.brand-logo {
				position: absolute;
				bottom:50px;
				margin-left: 75px;

				img{
					height:auto;
					width:200px;
				}

				a {
					padding-left:210px;
					font-size: 50pt;
					line-height: 55px;


					.subheader {
						font-size: 28pt;
						top: -10px;
					}
				}
			}
		}
	}
}