section{
	position:relative;
	width:100%;
	z-index: 2;
	margin-top: 0;
	padding: 5px 0px 15px 0px;

	h1, h2{
		color: @primary;
	}
	h3 {
		color: @secondary;
		text-transform: uppercase;
	}
}

section.jagged {
	margin-bottom: 100px;

	.jagged-upper, .jagged-lower{
		position:absolute;
		width:100%;
		svg {
			height:60px;
		}	
	}
	.jagged-upper {
		top: -60px;
	}

	.jagged-lower {
		bottom: -65px;
	}
}

section.primary{
	background-color: @primary;

	h1 {
		color: @secondary;
		text-transform: uppercase;
	}

	p {
		color: white;
	}

	.jagged-upper, .jagged-lower{
		svg {
			fill: @primary;
		}
	}
}

@media(min-width:768px){
	section{
		padding: 25px 0px 35px 0px;

	}
}
